@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');

:root{
    /* HEADER HEIGHT */
    --header-height: 3.5rem;

    /* COLORS */
    --main-color: #F8EDE3;
    --secondary-color: #457147;
    --tertiary-color: #457147;
    --quaternary-color: #457147;

    /* TYPOGRAPHY */
    --biggest-font-size: 2.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-soze: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* MARGINS */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    
    /* Z - INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
}

*, 
*:before, 
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inria Serif', serif;
    background-color: #F2EBEB;
    transition: 0.3s ease-in-out;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

.container{
    max-width: 1024px;
    margin: 0 1.5rem;
}

/* HEADER AND NAVIGATIN */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--secondary-color);
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__one{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__logo img{
    width: 1.5rem;
}

.nav__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Inria Serif', serif;
}

.nav__toggle{
    display: inline-flex;
    font-size: 1.25rem;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        background-color: var(--secondary-color);
        left: 0;
        top: -100%;
        box-shadow: 0 8px 24px rgba(170, 77, 0, 0.2);
        padding: 3.5rem 0 3rem;
        width: 100%;
        /* height: 100%; */
        border-radius: 0 0 2rem 2rem;
        transition: top 0.4s;
    }    
}

.nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav__list__one{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;   
}

.nav__link,
.nav__close{
    color: #ffffff;
}

.nav__link{
    font-size: var(--normal-font-size);
    font-weight: 600;
    transition: color 0.4s;
}

.nav__link:hover{
    color: var(--tertiary-color);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.show-menu{
    top: 0;
}


/* ABOUT SECTION */
.about__section{
    padding-top: 10rem;
    color: #7D5A5A;
}

.about__title{
    background-color: #BDD2B6;
    padding: 1rem;
    display: flex;
    color: black;
    justify-content: space-between;
}

.content{
    display: flex;
}

.content p,
.arrow{
    padding-right: 1rem;
}

.messages,
.messages2,
.messages3,
.messages4,
.messages5{
    background-color: #BDD2B6;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    color: black;
}

.messages2, 
.messages3{
    background-color: #ADC2A9;
}

.messages4, 
.messages5{
    background-color: #99A799;
}

input[type=checkbox]{
    transform: scale(2);
}

.info{
    padding: 1rem;
}

.icons{
    position: absolute;
    right: 4rem;
    padding-left: 2rem;
}

.options{
    display: flex;
}

.options p{
    padding: 1rem 5rem 0 7rem;
}
/* BREAKPOINTS */
/* FOR SMALL DEVICES */

@media screen and (max-width: 330px){
    .container{
        margin: 0 1rem;
    }

    .about__title{
        font-size: 1.2rem;
    }
}

/* FOR MEDIUM DEVICES */
@media screen and (min-width: 767px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle,
    .nav__close{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3rem;
    }
}

/* FOR LARGE DEVICES */
@media screen and (min-width: 1024px){
    .nav__logo{
        padding-right: 17rem;
    }
}

@media screen and (min-width: 1048px) {
    .container{
        margin: 0 auto;
    }

    .nav{
        margin-left: 14rem;
    }

    .nav__item:nth-child(7){
        padding-right: 17rem;
    }

    .nav__one{
        padding-right: 10.3rem;
    }

    .nav__list{
        margin-left: 9rem;
    }

    .nav__logo{
        padding-right: 17rem;
    }
}